/* Global Rules */

a:visited, a:hover, a:active, a:link{
    text-decoration: none;
}

/* Navigation buttons on top */

input[type='radio']{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
#navigation{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.wrapper{
    display: inline-block;
    float: left;
    transition: all 0.3s ease;
    height: 93px;
    margin-top: -3px;
}
.check-list{
    width: 36%;
    background: #B0E57C;
    background: linear-gradient(-180deg,#B0E57C, #B0E50F);
    border-left: 1px solid #B0E200;
    border-bottom: 1px solid #B0E200;
}
.wrapper:hover{
    transform: translateY(3px);
}
.shopping-list{
    width: 32%;
    background: #FFF0AA;
    background: linear-gradient(-180deg,#FFF0AA, #FFF06F);
    border-left: 1px solid #FFF000;
    border-bottom: 1px solid #FFF000;
}
.recipes-button{
    width: 32%;
    background: #FFAEAE;
    background: linear-gradient(-180deg,#FFAEAE, #FFAEBF);
    border-left: 1px solid #FFAEA0;
    border-bottom: 1px solid #FFAFA0;
    border-right: 1px solid #FFAFA0;
    color: #FFAEAE;
}
.wrapper img{
    height: 50px;
    width: 50px;
    margin: 20px 0;
    opacity: 0.8;
}

/* Footer menu */
#footer{
    text-align: center;
    width: 100%;
    height: 25px;
    background: #E0E0E0;
}
#menu ul li{
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0 10px;
}
#menu ul li a{
    color: white;
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}