/* Global Rules */

a:visited, a:hover, a:active, a:link{
    text-decoration: none;
}

[v-cloak] {
    display: none;
}

/* Navigation buttons on top */
input[type='radio']{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
#navigation{
    width: 100%;
    display: inline-block;
    text-align: center;
}
#navigation label img{
    transition: all 0.3s ease;
}
#navigation label{
    cursor: pointer;
}
#navigation label img:hover{
    transform: scale(1.1);
}
.wrapper{
    display: inline-block;
    float: left;
    height: 90px;
}
.check-list{
    width: 36%;
    background: #B0E57C;
    background: linear-gradient(-180deg,#B0E57C, #B0E50F);
    border-left: 1px solid #B0E200;
    border-bottom: 1px solid #B0E200;
}
.shopping-list{
    width: 32%;
    background: #FFF0AA;
    background: linear-gradient(-180deg,#FFF0AA, #FFF06F);
    border-left: 1px solid #FFF000;
    border-bottom: 1px solid #FFF000;
}
.recipes-button{
    width: 32%;
    background: #FFAEAE;
    background: linear-gradient(-180deg,#FFAEAE, #FFAEBF);
    border-left: 1px solid #FFAEA0;
    border-bottom: 1px solid #FFAFA0;
    border-right: 1px solid #FFAFA0;
    color: #FFAEAE;
}
.wrapper img{
    height: 50px;
    width: 50px;
    margin: 20px 0;
    opacity: 0.8;
}

/* Content - food list */

#content{
    overflow: auto;
    margin-top: -6px;
}
#check-list input[type=checkbox]{
    opacity: 0;
}

.food-wrapper{
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    opacity: 0.8;
    transition: all 0.4s;
    cursor: crosshair;
}
.inactive{
    filter: grayscale(1);
}
.inactive .food-title{
    opacity: 0.4;
}
.food-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    background-color: rgba(256, 256, 256, 0.7);
}
.food-title h1{
    text-align: center;
    margin: 10px 0;
    color: #282828;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    mix-blend-mode: multiply;
    -webkit-user-select: none;
    user-select: none;
}
#save-list{
    border-radius: 0 !important;
    padding: 5px;
}
#success{
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin-left: -100px;
    border-radius: 5px;
    padding: 15px 0;
    width: 200px;
    background: linear-gradient(#8ED2B1,#8ED2C9) ;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: none;
    opacity: 0.9;
}

/* Content - recipe list */
#recipes-finder .badge{
    padding: 5px;
    margin: 2px 3px;
}
#recipes-finder{
    overflow: hidden;
}
#recipes-header{
    background-color: #112341;
    position: relative;
    height: auto;
}
@media screen and (min-width: 1280px){
    #content #recipes-header .list{
        padding: 5px 100px;
    }
}
#recipes-header .icon{
    padding: 8px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
#recipes-header .icon img{
    height: 40px;
}

#recipes-header .list{
    display: inline-block;
    height: auto;
    text-align: left;
    padding: 5px;
}
#recipes-header .list span{
    background-color: transparent;
    border: 1px solid white;
}

#recipes-body{
    padding: 5px 20px;
}
#recipes-body .recipe{
    border: 1px solid #d9dfe5;
    background-color: #F0F0F0;
}
#recipes-body .ready{
}
#recipes-body .non-ready{

}
.recipe .thumb{
    display: inline-block;
    width: 120px;
    height: 100px;
    background-size: cover;
    margin: 8px;
}
.recipe .name{
    display: inline-block;
    vertical-align: top;
}
.recipe .name h4 img{
    height: 13px;
}
.recipe .ingredients{
    position: absolute;
    top: 35px;
    right: 0;
    width: calc(100% - 140px);
}
.recipe .ingredients .badge{
    color: black;
}
.recipe .ingredients .available{
    border:1px solid #72E365;
    background: transparent;
}
.recipe .ingredients .inavailable{
    border: 1px solid #C91D1D;
    background: transparent;
}
/* Footer menu */
#footer{
    text-align: center;
    width: 100%;
    height: 25px;
    background: #E0E0E0;
    margin-top: -1px;
}
#menu ul li{
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0 10px;
}
#menu ul li a{
    color: white;
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}